<!DOCTYPE html>
<html lang="en">
<head>

  <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
  <% end %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; X-Content-Type-Options: nosniff;"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Contacts App</title>

  <%== yield_content :all_contacts %>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/materialize.css" type="text/css"/>
</head>
  <body>

    <%== yield %>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>

  </body>

  <footer class="container">
      <%== yield_content :sign_out %>
  </footer>

</html>
