<div class="container">
  <h1>Sign In</h1>
  <form method="post" action="/signin">
    <label for="username">Username:
      <input name="username" />
    </label>
    <label for="username">Password:
      <input name="password" />
    </label>
    <button type="submit">Sign In</button>
  </form>
  <p style="float: right;">Don't have an account? <a href="/signup"> Sign Up </a></p>
</div>
